/* 
Theme Name:  W9 ChildWp
Theme URI:   https://waliweb.com/
Description: W9 ChildWp adalah Kerangka Anak Tema Wordpress, Pada Contoh ini sebagai anak tema <a href="https://wordpress.org/themes/cosmoswp" target="blank">CosmosWp</a>
Author:      Ali Musthofa
Author URI:  http://sinau.web.id/
Template:    cosmoswp
Version:     1.0.0
Text Domain: w9-childwp
*/

/*
 * Import manual css
*/
@import url("Assets/css/w9.css");

/*
 * Media Query
 */
 @media (min-width: 0) {
    /* Gaya HP*/
 }
 @media (min-width: 576px) and (max-width: 767.98px) {
    /* Gaya Tablet */
 }
 @media (min-width: 992px) {
    /* Gaya PC */
 }